/* Esconder os links no mobile */
@media (max-width: 768px) {
  .custom-navbar .mx-auto-custom {
    display: none;
  }

  /* Estilo do botão hambúrguer */
  .navbar-toggler {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #f5f5f5;
    border: none;
    padding: 5px;
  }

  /* Estilo da navbar */
  .custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 65px;
    padding: 0 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.51);
    position: relative;
    z-index: 10;
  }

  /* Estilo do logo */
  .navbar-brand img {
    max-width: 80px;
    margin-left: 0;
    padding-left: 0;
  }

  /* configuração estilo tamanho botões | curriculum e projetos | */
  .custom-button {
    max-width: 85%; /* Define a largura máxima como 90% da área visível */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
  }
  



  /* Estilo do offcanvas */
  .custom-offcanvas {
    background: linear-gradient(135deg, #9b8371 0%, #ebd6be 50%, #7a5e47 100%);
    transform: translateX(0%);
    transition: transform 1.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  #offcanvasMenu {
    width: 330px;
  }

  .custom-offcanvas .nav-link {
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
    color: #000000;
    text-align: center;
  }

  /* Hover nos links do offcanvas */
  .custom-offcanvas .nav-link:hover {
    color: #bbb;
    text-decoration: underline;
  }

  /* configuração para os botões */
  .btn-primary-custom {
    background-image: linear-gradient(
      to right,
      #603813 0%,
      #b29f94 48%,
      #603813 100%
    );
  }

  .btn-custom {
    margin-left: 25px;
  }

  .btn-gradient {
    background-image: linear-gradient(
      to right,
      #603813 0%,
      #b29f94 51%,
      #603813 100%
    );
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.2s ease, background-position 0.3s ease;
    background-size: 200% 100%;
  }

  .btn-gradient:hover {
    transform: scale(1.05);
    background-position: right center;
  }

  #about {
    padding-top: 8rem; /* Adicione espaçamento interno */
    background-color: #f9f4ef; /* Certifique-se de usar a mesma cor */
  }
  

  /* Espaçamento e centralização ajustados */
  .d-flex.justify-content-center.gap-3 {
    margin-top: 20px;
  }

  /* estilo icones redes sociais atras do card  */
  .social-icons a {
    margin: 0 10px;
  }

  .social-icons a i {
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .social-icons a i:hover {
    transform: scale(1.2);
  }

  .facebook-icon i {
    color: #3b5998;
  }

  .facebook-icon i:hover {
    color: #8b9dc3;
  }

  .linkedin-icon i {
    color: #0077b5;
  }

  .linkedin-icon i:hover {
    color: #00a0dc;
  }

  .instagram-icon i {
    color: #e4405f;
  }

  .instagram-icon i:hover {
    color: #f77737;
  }

  /* frase abaixo do card apenas no Mobile  */
  .mobile-only {
    display: none;
  }

  /* espaçamento mobile entre uma section e outra*/
  .about-section {
    padding-top: 50px;
  }

  /* linha sutil sobre mim */
  .section-divider {
    border: none;
    border-top: 1px solid #909090;
    width: 40%;
    margin: 10px auto;
    opacity: 0.6;
  }

  /* Exibir apenas em telas menores que 768px / texto abaixo do flip card */
  @media (max-width: 768px) {
    .mobile-only {
      display: block;
      margin-top: 2px;
      font-size: 0.9rem;
      color: #000000;
    }
  }
}

@media (max-width: 768px) {
  /* Estilos específicos para mobile */
  .container {
    padding-left: 35px;
    padding-right: 35px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  /* icones redes sociais footer */
  /* Ajuste para deixar a sombra visível no mobile */
  .social-icons {
    display: flex;
    justify-content: center;
  }

  .social-icon {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .social-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .social-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  }

  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .icons-contato-custom {
      gap: 10px;
    }
  }

  .icons-contato-custom .social-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .icons-contato-custom .social-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .icons-contato-custom .social-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  }
}

/* icones do footer - redes sociais */
/* Responsividade para telas menores */
@media (max-width: 768px) {
  .social-icons-footer .social-icon {
    width: 40px;
    height: 40px;
  }
}

/* estilo apenas para o botão que leva o usuário ao topo */

/* Estilo padrão para desktop */
/* Estilo para o botão */
.btn-outline-danger-custom {
  bottom: 20px;
  right: 15px;
  width: 50px;
  height: 50px;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para a imagem */
.btn-outline-danger-custom .btn-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilo específico para mobile */
@media (max-width: 768px) {
  .btn-outline-danger-custom {
    width: 40px;
    height: 40px;
  }
}


/* Oculta o texto mobile na versão desktop */
/* desktop = visualizar curriculum */
/* mobile = ver curriculum  */
.mobile-text {
  display: none;
}

/* Oculta o texto desktop na versão mobile */
@media (max-width: 768px) {
  .desktop-text {
    display: none;
  }

  .mobile-text {
    display: inline;
  }
}
